interactions:
- request:
    body: null
    headers:
    method: POST
    uri: http://www.mapquestapi.com/directions/v2/route?from=21.393936208637445%2C-157.8674605018104&key=DUMMY&manMaps=False&to=39.757118942673%2C-105.003256157079
  response:
    body:
      string: "{\"route\":{\"routeError\":{\"errorCode\":2,\"message\":\"\"}},\"info\":{\"statuscode\":402,\"copyright\":{\"imageAltText\":\"\xA9
        2021 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"text\":\"\xA9
        2021 MapQuest, Inc.\"},\"messages\":[\"We are unable to route with the given
        locations.\"]}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 26 Oct 2021 22:49:57 GMT
      status:
      - success
      transactionWeight:
      - '1'
    status:
      code: 200
      message: ''
version: 1
