interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.mapquestapi.com/geocoding/v1/reverse?key=DUMMY&location=39.757118942673%2C-105.003256157079&thumbMaps=False
  response:
    body:
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"latLng":{"lat":39.757118942673,"lng":-105.003256157079}},"locations":[{"street":"1783
        Bassett St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202","geocodeQualityCode":"L1AAA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"L","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.756949,"lng":-105.003125},"displayLatLng":{"lat":39.756949,"lng":-105.003125}}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      GeocodeTransactionCount:
      - '0'
      Last-Modified:
      - Wed, 27 Oct 2021 16:24:59 GMT
      ReverseGeocodeTransactionCount:
      - '1'
      status:
      - success
      transactionWeight:
      - '1.0'
    status:
      code: 200
      message: ''
version: 1
