interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.mapquestapi.com/directions/v2/route?from=39.757118942673%2C-105.003256157079&key=DUMMY&manMaps=False&to=39.865426458967676%2C-104.67452255667705
  response:
    body:
      string: "{\"route\":{\"hasTollRoad\":false,\"hasBridge\":true,\"boundingBox\":{\"lr\":{\"lng\":-104.668533,\"lat\":39.756947},\"ul\":{\"lng\":-105.004082,\"lat\":39.913952}},\"distance\":27.612,\"hasTimedRestriction\":false,\"hasTunnel\":false,\"hasHighway\":true,\"computedWaypoints\":[],\"routeError\":{\"errorCode\":-400,\"message\":\"\"},\"formattedTime\":\"00:36:36\",\"sessionId\":\"61788616-0015-5f21-02b4-35bf-0232ffaff0bb\",\"hasAccessRestriction\":false,\"realTime\":2456,\"hasSeasonalClosure\":false,\"hasCountryCross\":false,\"fuelUsed\":1.33,\"legs\":[{\"hasTollRoad\":false,\"hasBridge\":true,\"destNarrative\":\"Proceed
        to TERMINAL C LOOP.\",\"distance\":27.612,\"hasTimedRestriction\":false,\"hasTunnel\":false,\"hasHighway\":true,\"index\":0,\"formattedTime\":\"00:36:36\",\"origIndex\":4,\"hasAccessRestriction\":false,\"hasSeasonalClosure\":false,\"hasCountryCross\":false,\"roadGradeStrategy\":[[]],\"destIndex\":10,\"time\":2196,\"hasUnpaved\":false,\"origNarrative\":\"Go
        north on I-25 N/US-87 N.\",\"maneuvers\":[{\"distance\":0.017,\"streets\":[\"Bassett
        St\"],\"narrative\":\"Start out going northeast on Bassett St toward 18th
        St.\",\"turnType\":6,\"startPoint\":{\"lng\":-105.003128,\"lat\":39.756947},\"index\":0,\"formattedTime\":\"00:00:02\",\"directionName\":\"Northeast\",\"maneuverNotes\":[],\"linkIds\":[],\"signs\":[],\"transportMode\":\"AUTO\",\"attributes\":0,\"time\":2,\"iconUrl\":\"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif\",\"direction\":3},{\"distance\":0.087,\"streets\":[\"18th
        St\"],\"narrative\":\"Turn left onto 18th St.\",\"turnType\":6,\"startPoint\":{\"lng\":-105.002899,\"lat\":39.757122},\"index\":1,\"formattedTime\":\"00:00:15\",\"directionName\":\"Northwest\",\"maneuverNotes\":[],\"linkIds\":[],\"signs\":[],\"transportMode\":\"AUTO\",\"attributes\":0,\"time\":15,\"iconUrl\":\"http://content.mqcdn.com/mqsite/turnsigns/rs_left_sm.gif\",\"direction\":2},{\"distance\":0.175,\"streets\":[\"Little
        Raven St\"][...]
