interactions:
- request:
    body: null
    headers:
    method: POST
    uri: http://www.mapquestapi.com/directions/v2/route?from=34.134529719319424%2C-118.29851756023974&key=DUMMY&manMaps=False&to=39.757118942673%2C-105.003256157079
  response:
    body:
      string: "{\"route\":{\"hasTollRoad\":false,\"hasBridge\":true,\"boundingBox\":{\"lr\":{\"lng\":-105.001808,\"lat\":34.120037},\"ul\":{\"lng\":-118.287804,\"lat\":39.76078}},\"distance\":1018.6821,\"hasTimedRestriction\":false,\"hasTunnel\":true,\"hasHighway\":true,\"computedWaypoints\":[],\"routeError\":{\"errorCode\":-400,\"message\":\"\"},\"formattedTime\":\"14:27:02\",\"sessionId\":\"61797d5c-00c5-6750-02b4-32d6-0e5162580b2f\",\"hasAccessRestriction\":false,\"realTime\":60733,\"hasSeasonalClosure\":false,\"hasCountryCross\":false,\"fuelUsed\":52.76,\"legs\":[{\"hasTollRoad\":false,\"hasBridge\":true,\"destNarrative\":\"Proceed
        to 1783 BASSETT ST.\",\"distance\":1018.6821,\"hasTimedRestriction\":false,\"hasTunnel\":true,\"hasHighway\":true,\"index\":0,\"formattedTime\":\"14:27:02\",\"origIndex\":5,\"hasAccessRestriction\":false,\"hasSeasonalClosure\":false,\"hasCountryCross\":false,\"roadGradeStrategy\":[[]],\"destIndex\":12,\"time\":52022,\"hasUnpaved\":false,\"origNarrative\":\"Go
        east on CA-134 E.\",\"maneuvers\":[{\"distance\":0.12,\"streets\":[\"Griffith
        Park\"],\"narrative\":\"Start out going east on Griffith Park toward Griffith
        Park Dr.\",\"turnType\":0,\"startPoint\":{\"lng\":-118.287804,\"lat\":34.134884},\"index\":0,\"formattedTime\":\"00:01:15\",\"directionName\":\"East\",\"maneuverNotes\":[{\"manNoteType\":\"11\",\"manNote\":\"Closed
        to vehicle traffic: Everyday 10:00 PM to 5:00 AM\"}],\"linkIds\":[],\"signs\":[],\"transportMode\":\"AUTO\",\"attributes\":0,\"time\":75,\"iconUrl\":\"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif\",\"direction\":8},{\"distance\":0.241,\"streets\":[\"Griffith
        Park Dr\"],\"narrative\":\"Turn slight right onto Griffith Park Dr.\",\"turnType\":1,\"startPoint\":{\"lng\":-118.286064,\"lat\":34.135544},\"index\":1,\"formattedTime\":\"00:00:55\",\"directionName\":\"East\",\"maneuverNotes\":[],\"linkIds\":[],\"signs\":[],\"transportMode\":\"AUTO\",\"attributes\":0,\"time\":55,\"iconUrl\":\"http://content.mqcdn.com/mqsite/turnsigns/rs_slight_right_sm.gif\",\"direction\":8},{\"distance\":0.814,\"streets\":[...]
