interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.mapquestapi.com/directions/v2/route?from=0.0%2C0.0&key=DUMMY&manMaps=False&to=39.865426458967676%2C-104.67452255667705
  response:
    body:
      string: "{\"route\":{\"routeError\":{\"errorCode\":2,\"message\":\"\"}},\"info\":{\"statuscode\":402,\"copyright\":{\"imageAltText\":\"\xA9
        2021 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"text\":\"\xA9
        2021 MapQuest, Inc.\"},\"messages\":[\"We are unable to route with the given
        locations.\"]}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 26 Oct 2021 22:49:58 GMT
      status:
      - success
      transactionWeight:
      - '1'
    status:
      code: 200
      message: ''
version: 1
